* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5EFE6;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.header {
    height: 100px;
    background-image: url(img/pexels-pixabay-122429.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(183, 204, 181, 0.678);
    background-blend-mode: overlay;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 32px;
}

.menu_hamburguesa {
    display: none;
}

.menu_hamburguesa:checked+.nav-links {
    height: calc(100vh - 100px);
    max-height: 20vh;
}

.logo {
    width: 160px;
    height: auto;
}

.list_icon {
    cursor: pointer;
    width: 60px;
}

.nav-links {
    width: 100%;
    background-color: #acff96;
    position: absolute;
    top: 100px;
    left: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    transition: max-height 0.3s;
}

.link {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

@media (min-width:768px) {
    .label_hamburguesa {
        display: none;
    }

    .nav-links {
        background-color: transparent;
        position: static;
        max-height: none;
        flex-direction: row;
        gap: 20px;
    }

    .link {
        font-size: 24px;
        transition: all 0.3s;
        padding: .32px .64px;
        color: black;

    }

    .link:hover {
        background-color: #13701a;
        border-radius: 10px;
    }

}

.footer {
    background-image: url(img/pexels-pixabay-122429.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(183, 204, 181, 0.678);
    background-blend-mode: overlay;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.text-autor h1 {
    font-size: 24px;
}

.social-icon {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-elem a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-size: 32px;
    display: inline-block;
    margin: 0 10 px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-elem a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    margin-top: 10px;
    color: black;
}

.email {
    font-size: 14px;    
}

.titulo {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #f9580e;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduccion {
    font-size: 16px;
    margin: 0 90px;
    width: 50%;
}

.contenedor img {
    width: 50%;
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.box-container {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.box-container .box {
    width: 400px;
    height: 300px;
    padding-bottom: 16px;
    text-align: center;
    box-shadow: 0 4.8px 80px rgba(0, 0, 0, .3);
    background: #B4E380;
    margin: 64px 45px;
    border-radius: 10px;
}

.box-container .box img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -64px;
    border: 4.8px solid #f9580e;
    border-left: 4.8px solid #ffc246;
    border-bottom: 4.8px solid #ffc246;
}

.box-container .box h3 {
    font-size: 26px;
    color: #f9580e;
    padding: 0 8px;
}

.box-container .box p {
    font-size: 22px;
    color: black;
    padding: 20.8px 1.6px;
}